.hero-wrapper {
  text-align: center;
  padding: 5rem 0 2rem 0;
}

.hero-header {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.025em;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .hero-header {
    font-size: 4.5rem;
    line-height: 1.1;
  }
}

@media (min-width: 1280px) {
  .hero-header {
    margin: 0 10rem;
  }
}

.hero-header-attention {
  color: var(--primary);
}

.hero-text {
  color: var(--gray-400);
  font-size: 1.125rem;
  line-height: 2rem;
}
